<?xml version="1.0" encoding="UTF-8"?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>

        <File name="FILE" fileName="${basePath}/logfile.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </Console>
    </Appenders>

    <Loggers>


        <Logger name="com.geekbrains" level="debug" />
        <Root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>



</Configuration>

<log4j:configuration>
<appender name="fileAppender">
    <param name="file" value="st.log"/>
    <layout>
        <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
    </layout>
</appender>
<appender name="ASYNC">
    <param name="BufferSize" value="500"/>
    <appender-ref ref="fileAppender"/>
</appender>
<root>
    <priority value="info" />
    <appender-ref ref="ASYNC"/>
</root>
</log4j:configuration>